@import "cleance";

#root {
  width: 100%;
  height: auto;
  min-height: 100vh;

  color-scheme: light dark;
  color: #36ba01;
  background-color: #242424;

  font-family: "Arial Unicode MS", Arial, sans-serif;

  @media (prefers-color-scheme: light) {
    color: #213547;
    background-color: #ffffff;
  }
}
